@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Unbounded&display=swap');
body{
	background: rgb(82,116,170);
	background: linear-gradient(90deg, rgba(82,116,170,1) 14%, rgba(28,124,121,1) 48%, rgba(64,40,79,1) 76%);
}
p{
	font-size: 40px;
	font-weight: bold;
	color: #48B3ED;                          
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: cyan;
	font-family: 'Comfortaa', cursive;
}
ul,ol,dl{
	font-size: 30px;
	color: #8A2F2F;
}
ol{
	margin-left: 50px;
}
ul li::marker{
	color: red;
	font-size: 1.2em;
}
.m1 li{
	list-style-type: '🐾';
}
.m2 li{
	list-style-type: '✔';

}

